.contact-body
{
    height: 100vh;
    background-color: black;
    height: 100vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.form .inputBx{
    margin-bottom: 40px;
}
.form .inputBx input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border:  none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder{
    color: #fff;
}
.form .inputBx textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border:  none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
    min-height: 150px;
}
.form .inputBx textarea::placeholder{
    color: #fff;
}
.form .inputBx input[type="submit"]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400px;
}